body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
    color: #333;
}

/* Header */
header {
    background-color: #0a3d62;
    color: white;
    text-align: center;
    padding: 30px 10px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

/* Sections */
section {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

/* Headings */
h2 {
    color: #0a3d62;
    border-bottom: 2px solid #0a3d62;
    padding-bottom: 5px;
}

/* Skills */
.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    background: #dff9fb;
    display: inline-block;
    margin: 8px;
    padding: 8px 15px;
    border-radius: 20px;
}

/* Projects */
.project {
    margin-bottom: 15px;
}

/* Contact */
.contact a {
    color: #0a3d62;
    text-decoration: none;
    font-weight: bold;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #0a3d62;
    color: white;
}
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #0a3d62;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}
